
@{
    ViewData["Title"] = "checkYourInbox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<h2>Password Reseted</h2>
<form>
    <div class="input-box">
        <p>Password has been send it to your Email:)</p>
    </div>

</form>

@section validationScription
{

    @* <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@

    <partial name="_ValidationScriptsPartial" />
}



